<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Sacsi_ProductDiscount1::Discount" title="Discount" sortOrder="10">
					<resource id="Sacsi_ProductDiscount1::Discount_save" title="Save Discount" sortOrder="10"/>
					<resource id="Sacsi_ProductDiscount1::Discount_delete" title="Delete Discount" sortOrder="20"/>
					<resource id="Sacsi_ProductDiscount1::Discount_update" title="Update Discount" sortOrder="30"/>
					<resource id="Sacsi_ProductDiscount1::Discount_view" title="View Discount" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
